configuration {
    modi: "drun,run,window,filebrowser";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: "  apps";
    display-run: "  run";
    display-window: "  window";
    display-filebrowser: "  files";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font 11";
}

@theme "theme.rasi"
