/* BEGIN CONCEPT-THEME */
@define-color base       #101014;
@define-color surface0   #1c1c24;
@define-color surface1   #272733;
@define-color text       #e8e8ec;
@define-color lavender   #8a90f0;
/* END CONCEPT-THEME */

* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
}

window {
    background-color: alpha(@base, 0.85);
}

button {
    color: @text;
    background-color: @surface0;
    border-radius: 14px;
    border: 2px solid @surface1;
    margin: 10px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus,
button:active,
button:hover {
    background-color: @surface1;
    border-color: @lavender;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}
#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}
#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
